<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	<!-- <context:component-scan base-package="com.org.spring.example" /> -->

	<!-- Initializing integer value -->
	<!-- <bean id="e" class="com.org.spring.example.Employee"> <constructor-arg 
		value="10" type="int"></constructor-arg> </bean> -->




	<!-- Initializing String value -->
	<!-- <bean id="e" class="com.org.spring.example.Employee"> <constructor-arg 
		value="RAM"></constructor-arg> </bean> -->



	<!-- Initializing String and Integer both values -->
	<!-- <bean id="e" class="com.org.spring.example.Employee"> <constructor-arg 
		value="10" type="int"></constructor-arg> <constructor-arg value="RAM"></constructor-arg> 
		</bean> -->


	<!-- constructor injection with dependent Object -->
	<!-- <bean id="a1" class="com.org.spring.example.Address"> <constructor-arg 
		value="Belandur"></constructor-arg> <constructor-arg value="Karnataka"></constructor-arg> 
		<constructor-arg value="India"></constructor-arg> </bean> <bean id="e" class="com.org.spring.example.Employee1"> 
		<constructor-arg value="20" type="int"></constructor-arg> <constructor-arg 
		value="Saurav"></constructor-arg> <constructor-arg> <ref bean="a1" /> </constructor-arg> 
		</bean> -->
	<!-- constructor injection with dependent Object -->




	<!-- constructor injection with List Object -->
	<!-- <bean id="e" class="com.org.spring.example.Question"> <constructor-arg 
		value="111"></constructor-arg> <constructor-arg value="What is java?"></constructor-arg> 
		<constructor-arg> <list> <value>Java is a programming language</value> <value>Java 
		is a Platform</value> <value>Java is an Island of Indonesia</value> </list> 
		</constructor-arg> </bean> -->
	<!-- constructor injection with List Object -->



	<!-- constructor injection with Map Object -->
	<bean id="e" class="com.org.spring.example.QuestionForMap">
		<constructor-arg value="11"></constructor-arg>
		<constructor-arg value="What is Java?"></constructor-arg>
		<constructor-arg>
			<map>
				<entry key="Java is a Programming Language" value="Ajay Kumar"></entry>
				<entry key="Java is a Platform" value="John Smith"></entry>
				<entry key="Java is an Island" value="Raj Kumar"></entry>
			</map>
		</constructor-arg>
	</bean>
	<!-- constructor injection with Map Object -->

</beans>  